<a href="https://colab.research.google.com/github/haemil-haley/digital-learning-kr/blob/python/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88_%EB%AF%B8%EC%85%98(%EB%AC%B8%EC%A0%9C)_%EA%B8%B0%EC%B4%88%EA%B0%95%EC%9D%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hello world")

hello world

In [2]:
#미션1. 이름으로 삼행시 짓기
print("'조'립형 나무 가구는")
print("'해'를 많이 받으면 나무가 말라 변형될수 있기 때문에")
print("'밀'봉'을 꼼꼼히 해야 합니다.")

'조'립형 나무 가구는
'해'를 많이 받으면 나무가 말라 변형될수 있기 때문에
'밀'봉'을 꼼꼼히 해야 합니다.

In [3]:
#미션2. 여러분의 변수를 만들어봅시다. my_var라는 이름의 변수를 만들고, print로 출력해서 확인해봅시다 #123
my_var = 123
print(my_var)

my_char = "일이삼"
print(my_char)

123
일이삼

In [4]:
#숫자형
type(10)

int

In [5]:
type(10.5)

float

In [6]:
#연산
#더하기
a = 3
b = 4
a+b

7

In [7]:
#빼기
b-a

1

In [8]:
#곱셈
a*b

12

In [9]:
 #제곱
 a**b

81

In [10]:
#나누기
b/a

1.3333333333333333

In [11]:
 #나머지
 a%b

3

In [12]:
#몫
a//b

0

In [13]:
#미션3.0
## 숫자 50과 숫자 50 더해서 출력하기

print(50+50)

100

In [14]:
a = 50
b = 50
print(a+b)

100

In [15]:
#숫자, 문자, 불린
##문자열
type("hello world")

str

In [16]:
print("안녕"+"하세요")

안녕하세요

In [17]:
print("안녕"*3)

안녕안녕안녕

In [18]:
#미션3.1
## 문자열 50과 문자열 50 더해서 출력하기
a="50"
b="50"
print(a+b)

5050

In [19]:
print("50"+"50")

5050

In [20]:
#미션3.3 거꾸로 계산기
# //을 이용해서 변수 intdiv에 4를 넣은 수식을 작성해봅니다. 
intdiv = 12//3
print(intdiv)

#%을 이용하여 변수 modular에 1을 넣는 수식을 작성해봅니다
modular=4%3
print(modular)

#**을 이용해서 변수 expo에 16을 넣는 수식을 작성해봅시다.
expo=4**2
print(expo)

#위의 세변수를 출력해서 확인해봅시다
print(intdiv, modular, expo)

4
1
16
4 1 16

In [21]:
#불린
a = 1
b = 2
print (a<b)

True

In [22]:
print(a>b)

False

In [23]:
t, f = True, False
type(t)
type(f)

bool

In [24]:
#and or not
ab = 3==3 and 2<5 #T
bc = 4>=6 #F
cd = not 4>5 #T
print(ab, bc, cd)

True False True

In [25]:
#미션4. 비교연산자로 명제 만들기

## == 혹은 != 연산자를 이용해서 True인 명제를 ans1에 넣어봅시다.
ans1 = 2 == 2

## > 혹은 < 연산자를 이용해서 False인 명제를 ans2에 넣어봅시다
ans2 = 4 < 2


##위의 변수를 출력해서 정답을 확인해봅시다. 
print(ans1, ans2)

True False

In [26]:
##데이터 묶음으로 표현이 가능한 자료형 : 리스트
a = [1,2,3,4,5]
type(a)

list

In [27]:
#자료를 뽑아올수 있다 -> 인덱싱
v = ["화이자","모더나","AZ","얀센"]
type(v)
v[0]

'화이자'

In [28]:
v[-1]

'얀센'

In [29]:
#슬라이싱: 쪼개기
v[:]

['화이자', '모더나', 'AZ', '얀센']

In [30]:
v[:2]

['화이자', '모더나']

In [31]:
 #n-1
 v[:-1]

['화이자', '모더나', 'AZ']

In [32]:
v[1:3]

['모더나', 'AZ']

In [33]:
#인덱싱을 사용해서 수정도 가능해요
v[2] = "AA"
v

['화이자', '모더나', 'AA', '얀센']

In [34]:
#추가도 가능해요
v.append('BB')
v

['화이자', '모더나', 'AA', '얀센', 'BB']

In [35]:
#추가하는 방법은 append, insert
v.insert(2, 'CC')
v

['화이자', '모더나', 'CC', 'AA', '얀센', 'BB']

In [36]:
v.sort()
v

['AA', 'BB', 'CC', '모더나', '얀센', '화이자']

In [37]:
v.reverse()
v

['화이자', '얀센', '모더나', 'CC', 'BB', 'AA']

In [38]:
v.index('화이자')

0

In [39]:
v.remove('BB')
v

['화이자', '얀센', '모더나', 'CC', 'AA']

In [40]:
#미션3.1
## 리스트 50과 리스트 50 더해서 출력하기
a = [50]
b = [50]
print(a+b)

[50, 50]

In [41]:
print([50]+[50])

[50, 50]

In [42]:
#튜플: 값을 바꿀 수 없는 리스트, 순서가 존재
type(('화이자', '모더나', 'AZ', '얀센'))

tuple

In [43]:
#집합: 순서가 보장되지 않음, 중복값이 허용되지 않음
a = {"user1", "user2", "user3", "user1"}
b = {"user1", "user3"}

print(a)

{'user1', 'user3', 'user2'}

In [44]:
type(a)

set

In [45]:
#합집합
a | b

{'user1', 'user2', 'user3'}

In [46]:
#교집합
a & b

{'user1', 'user3'}

In [47]:
#차집합
a-b

{'user2'}

In [48]:
#딕셔너리: 순서가 보장되지 않음
dic_1 = {'제조사':"화이자/바이오엔텍", "플랫폼":"핵산백신", "연령":"만 16세 이상"}
type(dic_1)

dict

In [49]:
print(dic_1)

{'제조사': '화이자/바이오엔텍', '플랫폼': '핵산백신', '연령': '만 16세 이상'}

In [50]:
#미션5. 2배로 적금만들기

##변수 money에 input을 이용해서 입력을 받아봅시다.
money = input()

##money를 int형으로 변환해서, 다시 money에 넣어줍니다.
money = int(money)

##money를 2배로 불려서 print로 출력을 해봅시다
money = money*2
print(money)

5000
10000

In [51]:
#교통카드충전하기

In [52]:
###if 문 조건을 배울거다

In [53]:
#elif:  그렇지않으면

In [54]:
##응용 . 점심메뉴 정하기

In [55]:
#or and

In [56]:
#if는 중첩이가능하다= if 속에 if를 사용할수 잇다

In [57]:
#미션6. 기차놀이
#현재 기차에는 3명의 승객이 탑승하고 있습니다. ('금비','은비','동비')


#서울역에 정차했습니다.
##승객 '까비'를 맨 뒷칸에 태우세요

print('서울역 도착,//', train)

#대전역에 정차했습니다.
##1등석 승객 '선녀'가 탑습했습니다. 맨앞에 태우세요

print('대전역 도착.//', train)


#동대구역에 정차했습니다.
##승객 '은비'를 하차시켜주세요

print('동대구역 도착.//', train)

#마지막 역인 부산에 정차했습니다.
##원할한 하차를 위해 손님들의 자리를 사전순으로 다시 지정해주세요

print('부산역 도착.//', train)

NameError: ignored

In [ ]:
#미션6. 홀짝판별기

##input()을 이용해서 숫자(정수) 입력을 받고, 변수 num에 이를 넣어봅시다.


##if-else 문을 이용해서 만약 입력받은 수가 홀수면 "(입력받은수) 홀수입니다."
##짝수면 "(입력받은수) 짝수입니다"를 출력해봅시다

In [ ]:
#미션7. 업-다운

##변수 answer에 수 1~50 중 하나를 넣어봅시다.


##input을 통해 숫자형으로 입력을 받아서 변수 submit에 저장해봅시다.


##if-elif-else 문으로 
###만약 answer 보다 submit이 더 크면 "정답보다 더 큰 수를 입력했습니다"
###만약 answer 보다 submit이 더 작으면 "정답보다 더 작은 수를 입력했습니다"
###만약 answer 보다 submit이 같으면 "정답!"을 출력합니다.

In [ ]:
#반복문 while

In [ ]:
#미션8
#미션
#while을 이용해서 "i 년째 수감중입니다."를 출력해봅시다.
#while문이 종료된 후에는, "감옥에서 석방되었습니다!"를 출력해봅시다.

In [ ]:
#반복문 for를 실습해보자
# for 원소 in 변수:

In [ ]:
#range() 연속된 숫자를 만드는 함수

In [ ]:
##for break-> 루프 무한 반복 구문 빠져나올수잇겠금 <-> pass: 결과 가 없이 지나감
##if: pass break

In [ ]:
#미션 19단 외우기 #변수i사용해보기

In [ ]:
#회원가입

In [ ]:
##import를 통해서 불러오기

In [ ]:
#1차원 배열 array 만들어보기

In [ ]:
##2차원 배열을 만들어볼께요

In [ ]:
##3차원 배열

In [ ]:
# 2차원 배열 인덱싱

In [ ]:
 ##1차원

In [ ]:
##데이터프레임 -> 다차원 배열

In [ ]:
##판다스로 데이터 로드 
#csv 업로드, URL로드
california = pd.read_csv("https://dl.google.com/mlcc/mledu-datasets/california_housing_train.csv")

In [ ]:
##loc(열,행)

In [ ]:
#iloc(순서)